section{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: var(--cor-de-fundo);
    font-size: var(--tamanho-da-fonte);
    font-family:var(--tipo-de-fonte);
    font-weight: var(--peso-da-fonte);
}


.cartao{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: white;
    width:450px;
    max-width:90%;
    height:500px;
    max-height:90%;
    border-radius:2%;
}



.perfil{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    flex-basis:70%;
}

.dados{
    display:flex;
    width:100%;
    flex-basis:30%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    border-top:4px solid rgba(150, 150, 150, 0.3) ;
}

.seguidores,.likes,.fotos{
    display:flex;
    flex-direction: column;
    align-items: center;
}

img{
    width:250px;
    max-width: 70%;
    border-radius:50%;
}

.idade,.legenda,.cidade{
    color: var(--cor-do-texto);
}

.legenda,.cidade{
    font-weight: var(--peso-da-fonte-cidade-e-legendas);
}
