@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=VT323&display=swap');

:root{
    --cor-de-fundo:hsl(185, 75%, 39%);
    --cor-do-texto:hsl(227, 10%, 46%);
    --tamanho-da-fonte:1.5em;
    --tipo-de-fonte: "Kumbh Sans", sans-serif;
    --peso-da-fonte: 800;
    --peso-da-fonte-cidade-e-legendas:400;
}